# Bytecode / caché de Python
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo
*.pyd

# Caché de pytest
.pytest_cache/
.cache/

# Cobertura de tests
.coverage
htmlcov/
*.cover

# Ambientes virtuales
venv/
env/
ENV/
.venv

# Archivos de configuración
.env
*.env.local

# IDEs
.vscode/
.idea/
*.swp

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Otros
.DS_Store
test.ipynb
__pycache__/


2_Intermediate/lab12
2_Intermediate/lab13
2_Intermediate/lab14
2_Intermediate/lab15
3_Advance
4_Proyecto_Final